@media screen and (min-width: 600px) {
    .carousel{
        width: 50%;
    }
    .carousel-item{
        width: 50%;
    }
    .project-item{
        width: 100%;
        img{
            width: 100%;
        }
    }
    #project-main{
        display: flex;
        justify-content: center;
    }
   
   #top{
       height: 100px;
       img{
            width: 5%;
            height: auto;
       }
   }
   #project-scroll{
       display: flex;
       justify-content: center;
       figure{
           height:300px;
       }
   }
   footer{
       position: absolute;
       bottom: 0;
   }
}